ul li{
    display:inline-flex;
    margin-right: 60px;
    block-size: 50px;
}
ul{
 text-align: center;
 margin-bottom: -30px;
 font-size: large;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin-top: -10px;
}
body{
    background-color:white;
}
div{
  background-color: burlywood;
}
video{
    width: 100%;
}
hr{
margin-bottom: 5px;
}
ul li:hover{
background-color: beige;
border-radius: 10px;
}
h3{
 text-align: center;
 margin-top: -370px;
 color: white;
 z-index: auto;
}